html {
  line-height: 1.5;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

section {
  overflow: hidden;
  position: relative;
  max-height: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.banner {
  position: absolute;
  max-width: 45em;
  width: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  display: flex;
  align-items: flex-start;
}

.img-flex {
  display: block;
  width: 100%;
}

.banner .img-flex {
  max-width: 204px;
  margin: .65rem 1.2rem 1.25rem;
}

.content {
  display: block;
  max-width: 24em;
  width: 100%;
  margin: 1rem .5em 0 0;
}

h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
  line-height: 1.2;
  max-width: 23rem;
}

p {
  font-family: Roboto, sans-serif;
  font-size: 1.5rem;
  margin-top: .6rem;
}

.btn {
  font-family: Roboto, sans-serif;
  display: inline-block;
  font-size: 1.125rem;
  text-decoration: none;
  color: #fff;
  padding: .4em .75em .3em;
  border-radius: 10px;
  background-color: #333;
}

.btn-big {
  font-size: 1.5rem;
}

.btn:hover {
  background-color: black;
}
